@font-face {
    font-family: "Corazones";
    src: url("Angeles.ttf");
}

@font-face {
    font-family: "Text-T";
    src: url("Cartita.ttf");
}

body{
    background-color:#e0cc94;
}

.Navbar{
    background-color: rgba(156, 95, 197, 0.658);
    position: fixed;
    margin-left: 25px;
    margin-top: 25px;
    width: 94%;
    padding-top: 14px;
    padding-bottom: 14px;
    font-family: 'Corazones';
}

.Nav_Button{
    color: rgb(7, 38, 65);   
    text-decoration: none;
    font-size: 38px;
}

.Nav_Button:hover{
    color: rgb(90, 7, 7);
    transition: 1s;
}

.Texto{
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.Info{
    margin-top: 25px;
    background-color:#db7d57;
    padding: 25px;
    border-radius: 0 0 0 25px;
    
}

.Img{
    width: 600px;
    margin-left: -100px;
}

.Img2{
    width: 500px;
    margin-left: 20px;
    margin-top: 50px;
}

.Linea{
    margin-top: 80px;
    width: 100%;
    height: 1px;
    border-radius: 50%;
    background-color: #6b6a6a;
}

footer{
    margin-top: 60px;
    background-color: #b6945d;
    color: rgb(228, 228, 228);
    padding: 30px;
    font-family: 'Corazones';
}

.Img2{
    width: 500px;
    margin-left: 5px;
    margin-top: 5px;
}

.cabecera{
    height: 110px;
    margin: 2px;
}